body{
    background-color: rgb(26, 206, 230);
}

h1 {  
    text-align: center;  
    background-color: rgb(2, 13, 163); 
}  

p { 
    text-align: center;
    background-color: rgb(2, 13, 163);
}

 strong { 
     color: rgb(56, 224, 236); rgb
 }
