body{
    background-color: rgb(26, 206, 230);
}

 #medicina {  

     width: 100%;
     height: 250px;
 }
 
h1 {  
    text-align: center;  
    background: rgb(3, 13, 153); 
}  

p { 
    text-align: center;
    background: rgb(2, 13, 163);
}

 strong { 
     color: rgb(56, 224, 236);
 }

 #especial {  
     font-style: 20pt;
 }

.itens {  
    font-style: italic;
}
h2 { 
    text-align: center;
}
.beneficios{ 
    background-color: aqua;
}