body{
    background-color: rgb(26, 206, 230);
}

 #medicina {  

     width: 95%;
     height: 250px;
 }
 
h1 {  
    text-align: center;  
    background: rgb(3, 13, 153); 
}  

p { 
    text-align: center;
    background: rgb(2, 13, 163);
}

 strong { 
     color: rgb(0, 8, 8);
 }

 #especial {  
     font-style: 20pt;
 }

.itens {  
    font-style: italic;
    color: rgb(7, 7, 7);
}
h2 { 
    text-align: center;
}

.beneficios{ 
    background-color: rgb(5, 5, 5);
}

ul { 
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
    width: 20%;
}

 #imagen2{
    width: 50%;
 }